*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* HEADER SECTION */
.header{
    width: 100%;
    height: 80px;
    background-color: rgba(27, 27, 27, 1);
    background-position: center;
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
}

.smaller-header{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.server-name{
    height: 100%;
    display: table;
    float: left;
    font-family: 'Tomorrow', sans-serif;
}

.server-name a{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.server-name a h1{
    height: 100%;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-weight: 600;
}

/* NAVIGATION LINKS */
.navs{
    height: 100%;
    float: right;
}
.navs a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}
.navs a:last-child{
    padding-right: 0;
}
.navs a li{
    color: white;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    transition: color 0.3s;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}
.navs a .login{
    color: rgb(0, 184, 184);
    border-bottom: 2px solid white;
}
.navs a .register{
    color: aqua;
}

/* MOUSE HOVER */

.navs a li:hover{
    color: #adadad;
    border-bottom: 3px solid #adadad;
}
.navs a .login:hover{
    color: rgb(2, 187, 187);
}
.navs a .register:hover{
    color: rgb(2, 187, 187);
}

.side-links{
    display: none;
}

#toggle{
    display: none;
}

body{
    background-image: url("/pictures/BG3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 


/* ____________________________________________ */

.login-container{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(27, 27, 27, 0.8);
    color: white;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-family: 'Tomorrow', sans-serif;
    border: none;
    animation: animation 1s forwards 0s ease;
    z-index: 0;
}

.forgotten a{
    color:white;
}

@keyframes animation{
    0%{
        opacity: 0;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        }
}

#errorText{
    font-weight: bold;
    font-size: 20px;
    align-self: center;
    color: red;
    margin-bottom: 30px;
}

.login-container h1{
    font-weight: 400;
    font-size: 34px;
    align-self: center;
    margin-bottom: 20px;
    color: white;
    border-bottom: 1px solid rgb(0, 170, 212);
}

.login-container .text{
    align-self: center;
    text-align: center;
    width: 70%;
    overflow: hidden;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid rgb(0, 170, 212);
    color: #101010;
}

.login-container .text .user{
    color: white;
}

.login-container .text .pass{
    color: white;
}

.login-container i{
    float: left;
    width: 30px;
    text-align: center;
    color: white;
}

.login-container .login-button{
    align-self: center;
}

.text input{
    font-family: 'Tomorrow', sans-serif;
    border: none;
    outline: none;
    background: none;
    float: left;
    color: white;
    width: 90%;
    font-size: 14px;
}

.login-container .login-button{
    width: 30%;
    height: 40px;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Tomorrow', sans-serif;
    color: white;
    background-color: rgb(0, 149, 218);
    border: none;
    transition: ease 0.3s;
}

.login-container .login-button:hover{
    background-color: rgb(0, 78, 78);
}

.login-container a{
    margin-top: 20px;
    text-align: center;
    font-family: 'Tomorrow', sans-serif;
    font-size: 12px;
    color: #101010;
}
/* RULES FOR MOBILE */

@media only screen and (max-width: 1200px) {
    .smaller-header .server-name a h1{
        font-size: 26px;
    }
    .navs a li{
        font-size: 16px;
    }
    .navs a{
        padding: 0 10px;
    }
    .navs a:last-child{
        padding-right: 0;
    }
  }

@media only screen and (max-width: 900px) {
    .smaller-header .server-name a h1{
        font-size: 20px;
    }
    .navs a li{
        font-size: 12px;
    }
    .navs a{
        padding: 0 8px;
    }
    .navs a:last-child{
        padding-right: 0;
    }
  }



@media only screen and (max-width: 720px) {

    body{
        background: white;
    }

    .header{
        background-color: #101010;
        z-index: 1;
    }

    

    /* LOGIN TAB */

    .login-container{
        height: auto;
        width: 100%;
        z-index: 0;
        background: transparent;
    }

    .login-container h1{
        color: #101010;
    }

    .login-container .text .user{
        color: #101010;
    }
    .login-container .text .pass{
        color: #101010;
    }

    .header, .smaller-header, .server-name, .navs{
        z-index: 2;
    }

    .text i{
        display: none;
    }

    .server-name a h1{
        font-size: 26px;
    }


    /* SIDE MENU */
    .smaller-header{
        display: flex;
        justify-content: space-between;
    }
    
    .side-menu{
        align-self: center;
        display: flex;
    }
    
    .side-menu i{
        color: white;
        font-size: 26px;
    }
    .side-menu i:hover{
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
    .side-container{
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        transform: translate(-100%, 0);
        background-color: #101010;
        opacity: 1;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease .5s;
    }

    /* .side-container.open{
        left: 100%;
    } */

    .side-links{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .side-links a li{
        padding: 16px;
        color: white;
        font-family: 'Tomorrow', sans-serif;
        font-size: 20px;
    }
    .side-links a li:hover{
        color: rgba(255, 255, 255, 0.5);
    }

    .navs a{
        display: none;
    }


    label{
        color: white;
        font-size: 30px;
        vertical-align: middle;
        transition: ease 0.2s;
        z-index: 3;
    }

    label:hover{
        color: rgb(255, 255, 255);
        opacity: 0.5;
    }

    #toggle{
        display: none;
    }

    #toggle:checked + .side-container {
        left: 100%;
    }
    
  }
