*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* HEADER SECTION */
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(27, 27, 27);
    background-position: center;
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
}

.smaller-header{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.server-name{
    height: 100%;
    display: table;
    float: left;
    font-family: 'Tomorrow', sans-serif;
}

.server-name a{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.server-name a h1{
    height: 100%;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-weight: 600;
}

/* NAV LINKS */
.navs{
    height: 100%;
    float: right;
}
.navs a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}
.navs a:last-child{
    padding-right: 0;
}
.navs a li{
    color: white;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    transition: color 0.3s;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}
.navs a .login{
    color: aqua;
}
.navs a .register{
    color: aqua;
}

.navs a .current{
    color: #adadad;
    border-bottom: 3px solid #adadad;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  margin-left: -120px;
  min-width: 160px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover{
    color: gray;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}


/* ON MOUSE HOVER */

.navs a li:hover{
    color: #adadad;
    border-bottom: 3px solid #adadad;
}
.navs a .login:hover{
    color: rgb(2, 187, 187);
}
.navs a .register:hover{
    color: rgb(2, 187, 187);
}

.side-links{
    display: none;
}

#toggle{
    display: none;
}


/* SOME SCALING MEDIA RULES */

@media only screen and (max-width: 1200px) {
    .smaller-header .server-name a h1{
        font-size: 26px;
    }
    .navs a li{
        font-size: 16px;
    }
    .navs a{
        padding: 0 10px;
    }
    .navs a:last-child{
        padding-right: 0;
    }
    .navs a .login{
        font-size: 13px;
    }
    .navs a .register{
        font-size: 13px;
    }
  }

@media only screen and (max-width: 900px) {
    .smaller-header .server-name a h1{
        font-size: 20px;
    }
    .navs a li{
        font-size: 12px;
    }
    .navs a{
        padding: 0 10px;
    }
    .navs a:last-child{
        padding-right: 0;
    }
    .navs a .login{
        font-size: 12px;
    }
    .navs a .register{
        font-size: 12px;
    }
  }


  @media only screen and (max-width: 900px) {
    .ranks{
        flex-direction: column;
    }
    .rank{
        padding: 0;
    }
    .rank img{
        width: 150px;
    }
  }


  @media only screen and (max-width: 720px) {

    .rank{
        height: 200px;
    }

    /* SIDE MENU */
    .smaller-header{
        display: flex;
        justify-content: space-between;
    }
    
    .side-menu{
        align-self: center;
        display: flex;
    }
    
    .side-menu i{
        color: white;
        font-size: 26px;
        z-index: 3;
    }
    .side-menu i:hover{
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
    .side-container{
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        transform: translate(-100%, 0);
        background-color: #101010;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease .5s;
    }

    .side-links{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .side-links a li{
        padding: 16px;
        color: white;
        font-family: 'Tomorrow', sans-serif;
        font-size: 20px;
    }
    .side-links a li:hover{
        color: rgba(255, 255, 255, 0.5);
    }

    .navs a{
        display: none;
    }

    .content-container{
        flex-direction: column;
    }


    label{
        color: white;
        font-size: 30px;
        vertical-align: middle;
        transition: ease 0.2s;
        z-index: 3;
    }

    label:hover{
        color: rgba(255, 255, 255, 0.5);
    }

    #toggle{
        display: none;
    }

    #toggle:checked + .side-container {
        left: 100%;
    }

    .logo-text h4{
        font-size: 0.8rem;
    }

    .logo-text p{
        font-size: 0.7rem;
    }

    .footer{
        height: 80px;
    }


}


body{
    background-image: url("/pictures/BG3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/* _____________________________________ */

.website-elements{
    position: relative;
    min-height: 110vh;
    width: 100%;
    height: auto;
    background-color: rgba(150, 190, 202, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.ranks-container{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 500px;
    justify-content: center;
    text-align: center;
    background: none;
}


.ranks{
    display: flex;
    justify-content: center;
    align-content: center;
}

.rank{
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    align-items: center;
}

.rank img{
    object-fit: cover;
    text-align: center;
    padding-top: 20px;
}

.buttons button{
    color: white;
    background-color: rgba(27, 27, 27, 0.8);
    border: none;
    width: 80px;
    height: 30px;
    transition: ease 0.3s;
    margin: 0 4px;
}

.buttons{
    display: flex;
}

.buttons button:hover{
    background-color: rgba(27, 27, 27, 1);
}

/* FOOTER */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.designed{
    font-size: 14px;
    color: rgba(155, 155, 155, 0.7);
}

.logo-text{
    color: white;
    font-family: 'Tomorrow', sans-serif;
    text-align: center;
}

.rights{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.content-wrap {
    padding-bottom: 100px;
  }