*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: url("/pictures/BG3.jpg");s
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* HEADER */

.header{
    width: 100%;
    height: 80px;
    background-color: rgba(27, 27, 27, 1);
    position: sticky;
    top: 0;
    z-index: 1;
}

.smaller-header{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* SERVER LOGO */
.server-name{
    height: 100%;
    display: table;
    float: left;
    font-family: 'Tomorrow', sans-serif;
}

.server-name a{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.server-name a h1{
    height: 100%;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-weight: 600;
}

/* NAVIGATION LINKS */
.navs{
    height: 100%;
    float: right;
}
.navs a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}
.navs a:last-child{
    padding-right: 0;
}
.navs a li{
    color: white;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    transition: color 0.3s;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}
.navs a .login{
    color: aqua;
}
.navs a .register{
    color: aqua;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  margin-left: -120px;
  min-width: 160px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover{
    color: gray;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

/* WHEN YOU HOVER THE MOUSE OVER NAV LINKS */

.navs a li:hover{
    color: #adadad;
    border-bottom: 3px solid #adadad;
}
.navs a .login:hover{
    color: rgb(2, 187, 187);
}
.navs a .register:hover{
    color: rgb(2, 187, 187);
}

/* WELLCOME TEXT */

.top-text{
    text-align: center;
    font-family: 'Tomorrow', sans-serif;
    color: white;
    padding-top: 200px;
    animation: animation 3s forwards 0s ease;
    height: 90%;
}

#scrolldown{
    width: 7%;
    opacity: 0.3;
    margin: 8% 0 0 0;
}

@keyframes animation{
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
}

.top-text h4{
    font-size: 3rem;
    font-weight: 400;
    animation: animation2 0.3s forwards 2s ease-in-out;
}

@keyframes animation2{
    0%{
        transform: translateY(0);
        }
    50%{
        transform: translateY(-30%);
        }
    100%{
        transform: translateY(0);
        }
}


.top-text p{
    font-size: 1.2rem;
    animation: animation3 0.3s forwards 2.1s ease-in-out;
}

@keyframes animation3{
    0%{
        transform: translateY(0);
        }
    50%{
        transform: translateY(-30%);
        }
    100%{
        transform: translateY(0);
        }
}

.ip{
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: rgb(238, 238, 0);
}
.ip span{
    color: rgb(1, 233, 1);
}

#playerHeads{
    margin-top: 20px;
    margin-bottom: 20px;
}

.aHead{
    margin-left: 1px;
    margin-right: 1px;
}

/* THE CONTENT CONTAINER OF THE HOMEPAGE */
.website-elements{
    /*margin-top: 200px;*/
    height: 1200px;
    background-color: rgba(27, 27, 27, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PLAYER STATS CONTAINER */

.player-stats{
    margin-top: 40px;
    width: 90%;
    height: 49%;
    font-family: 'Tomorrow', sans-serif;
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 12);
    overflow: auto;
}

.player-skin{
    height: auto;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
}

#user{
    margin-bottom: -20px;
}

.statistics-text{ 
    margin-left: 30px;
    /* text-align: center; */
}

.statistics-text h4{
    font-weight: 400;
    font-size: 2rem;
}

.statistics-text p{
    font-weight: 400;
    font-size: 1.2rem;
}

/* THE CONTAINER OF ANOUNCEMENTS & DISCORD WIDGET*/
.content-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 800px;
}

/* ANOUNCEMENTS */
.anouncements{
    flex: 2;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 12, 12);
    margin-left: 20px;
    overflow: auto;
}

.anouncements .text{
    color: white;
    font-family: 'Tomorrow', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}

.anouncements img{
    max-width: 90%;
    height: auto;
}



.anouncements .text h4{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}

.anouncements .text p{
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

.side-container{
    display: none;
}

.side-menu{
    display: none;
}




/* FOOTER - NEEDS FIX */

.footer{
    width: 100%;
    height: 240px;
    background-color: rgb(19, 19, 19);
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.logo-text{
    color: white;
    font-family: 'Tomorrow', sans-serif;
    text-align: center;
}

.designed{
    font-size: 14px;
    color: rgba(155, 155, 155, 0.7);
}

.designer{
    color: rgba(255, 255, 255, 0.8);
}


/* QUERIES */

/* QUERIES FOR THE NAVIGATION BAR */
@media only screen and (max-width: 1200px) {
    .server-name a h1{
        font-size: 26px;
    }
    .navs a li{
        font-size: 16px;
    }
    .navs a{
        padding: 0 10px;
    }
    .navs a:last-child{
        padding-right: 0;
    }
  }

@media only screen and (max-width: 900px) {
    .server-name a h1{
        font-size: 20px;
    }
    .navs a li{
        font-size: 12px;
    }
    .navs a{
        padding: 0 8px;
    }
    .navs a:last-child{
        padding-right: 0;
    }
  }

@media only screen and (max-width: 720px) {

    footer .logo-text h4{
        color: white;
    }

    .discordWidget{
        width: 100%;
    }

    .top-text{
        display: none;
    }

    /* SIDE MENU */
    .smaller-header{
        display: flex;
        justify-content: space-between;
    }
    
    .side-menu{
        align-self: center;
        display: flex;
    }
    
    .side-menu i{
        color: white;
        font-size: 26px;
        z-index: 3;
    }
    .side-menu i:hover{
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
    .side-container{
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        transform: translate(-100%, 0);
        background-color: #101010;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease .5s;
    }

    .side-links{
        text-align: center;
    }
    .side-links a li{
        padding: 16px;
        color: white;
        font-family: 'Tomorrow', sans-serif;
        font-size: 20px;
    }
    .side-links a li:hover{
        color: rgba(255, 255, 255, 0.5);
    }

    .navs a{
        display: none;
    }
    .website-elements{
        padding: 0;
        margin: 0;
    }
    .content-container{
        flex-direction: column;
    }

    .statistics-text{
        text-align: center;
    }

    .anouncements{
        flex-direction: column;
        margin-top: 40px;
        margin-left: 0px;
        justify-content: center;
    }
    
    .player-stats{
        margin-top: 0;
        flex-direction: column;
        padding-top: 80px;
    }

    .statistics-text h4{
        font-size: 1.2rem;
    }

    .statistics-text p{
        font-size: 1rem;
    }

    .statistics-text{
        margin-right: 20px;
    }

    .website-elements{
        height: 1550px;
    }

    .anouncements{
        margin-bottom: 40px;
    }

    .anouncements .text h4{
        font-size: 1.7rem;
        font-weight: bold;
    }

    .anouncements .text p{
        font-size: 1rem;
    }

    .footer{
        position: absolute;
        top: 100%;
        height: 200px;
    }

    .website-elements{
        background-color: #101010be;
    }

    .anouncements{
        margin-bottom: 0;
    }


    .player-skin{
        height: auto;
        align-self: center;
        margin: 0;
    }
    

    label{
        color: white;
        font-size: 1.9rem;
        vertical-align: middle;
        transition: ease 0.2s;
        z-index: 3;
    }

    label:hover{
        color: rgba(255, 255, 255, 0.5);
    }

    #toggle{
        display: none;
    }

    #toggle:checked + .side-container {
        left: 100%;
    }

    .header{
        background-color: #101010;
        color: black;
    }

    .footer{
        background-color: #101010;
    }

    .logo-text h4{
        font-size: 0.8rem;
        /*color: black;*/
    }

    .logo-text p{
        font-size: 0.7rem;
    }
    
    .player-stats{
        padding-left: 2%;
    }
    
    .footer{
        height: 80px;
    }

    .player-stats{
        margin-top: 5%;
        background-color: #343747;
    }

    .anouncements{
        background-color: #343747;
    }

    .anouncements .text{
        margin-top: 80%;
    }
  }
